<h1>Contact</h1>
<p>Sporting Goods store located in Middle River, MD </p>
<p> Give us a call at <b>(410) 335-0770</b> </p>
<p> or send us an email below! <p>



<div class="container-fluid">
  <div class="jumbotron contact">


    <%= form_tag("/static_pages/thank_you") do %>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 contact-content">
<<<<<<< HEAD

=======
>>>>>>> reviews
        <%= flash[:notice] %>
          <div class="form-group">
            <%= label_tag :name %>
            <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
          </div>      
          <div class="form-group">
            <%= label_tag :email, "Email Address" %>
            <%= text_field_tag :email, nil, class: "form-control", :required => true, placeholder: "Enter Email" %>
          </div>
          <div class="form-group">
            <%= label_tag :message %>
            <%= text_area_tag :message, nil, class: "form-control", :required => true, placeholder: "Enter Message" %>
          </div>  
          <%= submit_tag("Send", class: "btn btn-warning") %>  
        </div>
      </div>
    <% end %>
  </div> <!-- /jumbotron contact -->
</div> <!-- /container-fluid -->