<div class="col-sm-2 col-md-4">
  <h4><%= link_to product.name, product %></h4>
  <p><%= product.description %></p>
  <%= image_tag(product.image_url, class: "img-responsive coming-soon") %>
  <p><strong>$<%= product.price %> </strong></p>
  <br>
  <td><%= link_to 'Show', product %></td>
  <td><%= link_to 'Edit', edit_product_path(product) %></td>
  <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div><!-- /col -->